video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.background div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    background-image: url(../img/explosion.gif);
    opacity: 1;
    z-index: 0;
    -webkit-backface-visibility: hidden;
}

.background div::after {
    content: "";
    height: 60px;
    width: 300px;
    margin-top: -30px;
    margin-left: -150px;
    background: transparent url(../img/macgifer.png) 0 0 no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: myfirst 2s ease-in 1s;
    -webkit-transform: scale(0);
}

@-webkit-keyframes myfirst
{
    0%   {-webkit-transform: scale(0.1);}
    70%  {-webkit-transform: scale(3.0);}
    100% {-webkit-transform: scale(30.0); }
}

