extends base

block css
    link(rel='stylesheet', href='/css/app.css')

block content
    video(width='320', height='240', autoplay='true')
    div.color test
    div.url
      a(href='#', target='_blank') Wait...

block js
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.js')
    script(src='/js/adapter.js')
    script(src='/js/app.js')
