doctype 5

- var mainClass = '';
block vars

html
    head
        title ~~ MacGifer ~~ Realtime GIF Based Communication &copy;
        link(rel='stylesheet', href='/css/base.css')
        block css
    body
        div.main(class='#{mainClass}')
            header
                h1 MacGifer
                marquee(behavior='alternate')
                    h3 Realtime GIF Based Communication &copy;
            div.content
                block content
            footer
                ul
                    li
                        a(href='/index.htm') Home
                    li
                        a(href='/why.htm') Why?
                    li
                        a(href='/really.htm') Really?!!1
                    li
                        a(href='/about.htm') About
                    li
                        a(href='/faq.htm')
                            b (?) FAQ
                p.center
                    | Created by 
                    a(href='http://sophilabs.com/') sophilabs
                    |  for 
                    a(href='http://nodeknockout.com/') nodeknockout 2013
                p
                    a(href="mailto:webmaster@macgifer.net")
                        img(src='/img/email.gif')
                div.fire
        block js
        script(src='/js/colors.js')
        script(src='/js/analytics.js')
