doctype 5

- var mainClass = '';
block vars

html
    head
        title ~~ MacGifer ~~ Realtime GIF Based Communication &copy;
        link(rel='stylesheet', href='/css/base.css')
        block css
    body
        div.main(class='#{mainClass}')
            header
                h1 MacGifer
                marquee(behavior='alternate')
                    h3 Realtime GIF Based Communication &copy;
            div.content
                block content
            footer
                ul
                    li
                        a(href='/index.htm') Home
                    li
                        a(href='/why.htm') Why?
                    li
                        a(href='/really.htm') Really?!!1
                    li
                        a(href='/about.htm') About
                p
                p
                    a(href="mailto:webmaster@macgifer.net")
                        img(src='/img/email.gif')
                div.fire
        script(src='http://comicsansdag.nl/t.js')
        block js
        script(src='/js/analytics.js')
