extends base

block content
    h2 FAQ
    p.center
        b  F
        | requently
        b  A
        | sked
        b  Q
        | uestions
    hr

    h4 Why MacGifer?
    p As McGyver would say on the episode "The Scape", 
        i
            b
                "Maybe it's about time I expanded the realm of
                | possibilities around here."
        |  in reference to not being able to stream video in realtime using
        | Internet Explorer 6.0. His unlimited wisdom gave us the
        | responsibility to look for a better world, in which people could 
        | stream video no matter the browser they use. You can try the
        | extensions by clicking the checkboxes next to them.
    hr

    h4 How can I use MacGifer?
    p Press REC and allow the app to use your webcam as source. You'll get an URL pointing to a GIF file. Open that URL on a different tab and see yourself, or send it to your friends so they can watch you live.
    hr

    h4 Can I view a MacGifer GIF stream on my iPhone?
    p No.
    hr

    h4 In which devices can I watch a GIF stream?
    p
        | You can watch a stream using the previously mentioned browsers, 
        | plus Netscape Navigator and Internet Explorer (successfully 
        | tested on IE6.0). Although it doesn't seem to work on iPhone.
    p You can also use mplayer:
        code  curl -G http://www.macgifer.net/AAAAA.gif | mplayer -cache 1024 -
    p Maybe use the caca video output:
        code  curl -G http://www.macgifer.net/AAAAA.gif | mplayer -vo caca -cache 1024 -
    hr

    h4 In which browsers can I broadcast?
    p It works on all browsers implementing WebRTC and websockets.
        | Try it on the latest versions of Firefox, Chrome and Safari.
    hr

    p.center No png or jpeg file were hurt during the development of this website.
