extends base

block content
    video(width='320', height='240', autoplay='true')
    div.color test

block js
    script(src='/js/gif/NeuQuant.js')
    script(src='/js/gif/TypedNeuQuant.js')
    script(src='/js/gif/LZWEncoder.js')
    script(src='/js/gif/ByteArray.js')
    script(src='/js/gif/GIFEncoder.js')

    script(src='/js/jquery.js')
    script(src='/js/adapter.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/app.js')
