extends base

block content
    video(width='320', height='240', autoplay='true')
    div.color test

block js
    script(src='/js/jquery.js')
    script(src='/js/adapter.js')
    script(src='/js/app.js')
