extends base

block content
    h2 Why?
    p.center This a tribute to GIF. We love the technology behind this. Nothing new was inveted.
    h2 History
    p.center "The GIF, or graphics interchange format, was introduced to the world by Compuserve in 1987."
    p.center “What has made GIF hang around is the animation loop that Netscape added. If Netscape had not added GIF in their browser, GIF would have died in 1998.”
    p.center Thanks Compuserve and Netscape.
        br
        a(href='http://www.dailydot.com/entertainment/gif-history-steve-wilhite-olia-lialina-interview/') Read More.
    hr
    p.center No png or jpeg file were hurt during the develop of this website.
